/* BASE ------------------------------------------- */
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: #343434;
  padding: 0;
  margin: 0;
  background: #3acec2;
}

ol {
  counter-reset: li;
  /* Initiate a counter */
  margin-left: 0;
  /* Remove the default left margin */
  padding-left: 0;
  /* Remove the default left padding */
}

ol > li {
  cursor: grab;
  position: relative;
  /* Create a positioning context */
  margin: 0 0 6px 2em;
  /* Give each list item a left margin to make room for the numbers */
  padding: 18px 8px;
  /* Add some spacing around the content */
  list-style: none;
  /* Disable the normal item numbering */
  border-top: 2px solid #eeea72;
  background: #fff;
  transition: background-color 0.3s ease-out;
}
ol > li.selected {
  background-color: #eeea72;
}
ol > li:hover {
  background-color: #f3f1a0;
}
ol > li:hover .icon {
  cursor: pointer;
  opacity: 100;
  transition: opacity 0.3s ease-out;
}
ol > li:active {
  background-color: #f9f8cd;
  cursor: grab;
  cursor: -webkit-grabbing;
}

ol > li::before {
  content: counter(li);
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: -2px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  /* Some space between the number and the content in browsers that support
    generated content but not positioning it (Camino 2 is one example) */
  margin-right: 8px;
  padding: 4px;
  border-top: 2px solid #eeea72;
  color: #343434;
  background: #eeea72;
  font-family: "Bree Serif", serif;
  text-align: center;
}

li ol,
li ul {
  margin-top: 6px;
}

ol ol li:last-child {
  margin-bottom: 0;
}

/* HEADER & FOOTER -------------------------------- */
header {
  text-align: center;
  height: 4rem;
  margin: 4rem;
}
header h1 {
  font-family: "Bree Serif", serif;
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

/* CONTAINERS ------------------------------------- */
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 500px;
  grid-gap: 15px;
  max-width: 1000px;
  margin: 3rem auto;
  background: #fff;
  box-shadow: 0 0.1em 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.6em;
}

/* COMPONENTS ------------------------------------- */
.item {
  border-radius: 0.6em;
}

.text {
  padding: 1em 1em 3em;
  overflow: auto;
}
.text h1 {
  font-family: "Bree Serif", serif;
  letter-spacing: 0.1rem;
}
.text p {
  font-family: "Raleway", sans-serif;
}

li h3 {
  font-weight: 600;
}
li p {
  margin-top: -0.3rem;
}

ol > li .icon {
  position: absolute;
  top: 0.3em;
  width: 1.7em;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Some space between the number and the content in browsers that support
          generated content but not positioning it (Camino 2 is one example) */
  margin-right: 8px;
  padding: 4px;
  z-index: 100;
  opacity: 0;
}
ol > li .edit,
ol > li .check {
  right: 0.2em;
}
ol > li .drag {
  right: 2.2em;
}
ol > li .delete {
  right: 4.2em;
}
ol > li .check {
  opacity: 100;
  display: none;
}
ol > li .divDelete,
ol > li .divEdit,
ol > li .divCheck,
ol > li .divDrag {
  height: 1.7em;
}

.fill-color {
  fill: #b13c69;
  fill-opacity: 0.9;
}

input[type=text] {
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin-top: 12px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #b13c69;
  border: none;
  border-bottom: 1px solid #e1a5bc;
  background-color: #eeea72;
}
input[type=text].input-h3 {
  font-size: 1em;
  font-weight: 600;
}
input[type=text].input-p {
  font-size: 1rem;
}

/* MEDIA QUERIES ---------------------------------- */
@media (max-width: 1080px) {
  .container {
    margin: 2rem;
  }
}
@media (max-width: 530px) {
  header {
    margin-top: 0;
    margin-bottom: 12rem;
    line-height: 1.2;
  }
  header h1 {
    font-size: 5rem;
  }

  .text h1 {
    font-size: 3rem;
  }

  .container {
    grid-template-rows: 400px;
  }
}
@media (max-width: 430px) {
  .container {
    grid-gap: 0px;
    grid-template-rows: 350px;
  }

  .map {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .text {
    background: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/*# sourceMappingURL=application.css.map */
