/* BASE ------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: #343434;
  padding: 0;
  margin: 0;
  background: #3acec2;
}

ol {
  counter-reset: li;
  /* Initiate a counter */
  margin-left: 0;
  /* Remove the default left margin */
  padding-left: 0;
  /* Remove the default left padding */
}

ol > li {
  position: relative;
  /* Create a positioning context */
  margin: 0 0 6px 2em;
  /* Give each list item a left margin to make room for the numbers */
  padding: 4px 8px;
  /* Add some spacing around the content */
  list-style: none;
  /* Disable the normal item numbering */
  border-top: 2px solid #eeea72;
  background: #fff;
  transition: background-color 0.3s ease-out;
}
ol > li.selected, ol > li:hover {
  background-color: #eeea72;
}
ol > li:hover .icon {
  opacity: 100;
  transition: opacity 0.3s ease-out;
}
ol > li:active {
  background-color: #f9f8cd;
}

ol > li::before {
  content: counter(li);
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: -2px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  /* Some space between the number and the content in browsers that support
     generated content but not positioning it (Camino 2 is one example) */
  margin-right: 8px;
  padding: 4px;
  border-top: 2px solid #eeea72;
  color: #343434;
  background: #eeea72;
  font-family: "Bree Serif", serif;
  text-align: center;
}

li ol,
li ul {
  margin-top: 6px;
}

ol ol li:last-child {
  margin-bottom: 0;
}

/* HEADER & FOOTER -------------------------------- */
header {
  text-align: center;
  height: 4rem;
  margin: 4rem;
}
header h1 {
  font-family: "Bree Serif", serif;
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

/* CONTAINERS ------------------------------------- */
.container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 55vh;
  grid-gap: 15px;
  background: #fff;
  box-shadow: 0 0.1em 0 0 rgba(0, 0, 0, 0.1);
  margin: 45px auto;
  border-radius: 0.6em;
}

/* COMPONENTS ------------------------------------- */
.item {
  border-radius: 0.6em;
}

.text {
  padding: 1em 1em 3em;
  overflow: auto;
}
.text h1 {
  font-family: "Bree Serif", serif;
  letter-spacing: 0.1rem;
}
.text p {
  font-family: "Raleway", sans-serif;
}

li h3 {
  font-weight: 600;
}
li p {
  margin-top: -0.3rem;
}

ol > li .icon {
  position: absolute;
  top: 0.3em;
  width: 1.7em;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Some space between the number and the content in browsers that support
      generated content but not positioning it (Camino 2 is one example) */
  margin-right: 8px;
  padding: 4px;
  z-index: 100;
  opacity: 0;
}

ol > li .delete {
  right: 0.2em;
}
ol > li .edit {
  right: 2.2em;
}
ol > li .divDelete,
ol > li .divEdit {
  height: 1.7em;
}

.fill-color {
  fill: #b13c69;
  fill-opacity: 0.9;
}

/* MEDIA QUERIES ---------------------------------- */

/*# sourceMappingURL=application.css.map */
